@{
    ViewData["Title"] = "Home Page";
}


    <div class="oferta">
        <img src="~/images/sach1.jpg" width="130" height="113" border="0" class="oferta_img" alt="" />
        <div class="oferta_details">
            <div class="oferta_title">Đắc nhân tâm</div>
            <div class="oferta_text"> Đây là 1 quyển sách giúp bạn hiểu sâu hơn về giá trị con người</div>
            <a href="#" class="prod_buy">details</a>
        </div>
    </div>
    <div class="center_title_bar">Sản Phẩm</div>
    <div class="prod_box">
        <div class="center_prod_box">
        <div class="product_title"><a href="#">Đắc nhân tâm</a></div>
        <div class="product_img"><a href="#"><img src="~/images/sach1.jpg" width="60" height="70" alt="" border="0" /></a></div>
            <div class="prod_price"><span class="reduce">70$</span> <span class="price">40$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="#" class="prod_buy">Add to Cart</a> <a href="#" class="prod_details">Details</a> </div>
    </div>
    <div class="prod_box">
        <div class="center_prod_box">
            <div class="product_title"><a href="#">The One Think</a></div>
        <div class="product_img"><a href="#"><img src="~/images/Sach2.gif" width="60" height="70" alt="" border="0" /></a></div>
            <div class="prod_price"><span class="reduce">50$</span> <span class="price">30$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="#" class="prod_buy">Add to Cart</a> <a href="#" class="prod_details">Details</a> </div>
    </div>
    <div class="prod_box">
        <div class="center_prod_box">
            <div class="product_title"><a href="#">Being Happy</a></div>
        <div class="product_img"><a href="#"><img src="~/images/sach4.jpg" width="60" height="70" alt="" border="0" /></a></div>
            <div class="prod_price"><span class="reduce">40$</span> <span class="price">25$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="#" class="prod_buy">Add to Cart</a> <a href="#" class="prod_details">Details</a> </div>
    </div>
    <div class="prod_box">
        <div class="center_prod_box">
            <div class="product_title"><a href="#">Viết lên hi vọng</a></div>
        <div class="product_img"><a href="#"><img src="~/images/Sach4.png" width="60" height="70" alt="" border="0" /></a></div>
            <div class="prod_price"><span class="reduce">50$</span> <span class="price">30$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="#" class="prod_buy">Add to Cart</a> <a href="#" class="prod_details">Details</a> </div>
    </div>
    <div class="prod_box">
        <div class="center_prod_box">
            <div class="product_title"><a href="#">Đừng từ bỏ giấc mơ</a></div>
        <div class="product_img"><a href="#"><img src="~/images/sach5.jpg" width="60" height="70" alt="" border="0" /></a></div>
            <div class="prod_price"><span class="reduce">30$</span> <span class="price">20$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="#" class="prod_buy">Add to Cart</a> <a href="#" class="prod_details">Details</a> </div>
    </div>
    <div class="prod_box">
        <div class="center_prod_box">
            <div class="product_title"><a href="#">Nghĩ giàu và làm giàu</a></div>
        <div class="product_img"><a href="#"><img src="~/images/sách7.jpg" width="60" height="70" alt="" border="0" /></a></div>
            <div class="prod_price"><span class="reduce">35$</span> <span class="price">27$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="#" class="prod_buy">Add to Cart</a> <a href="#" class="prod_details">Details</a> </div>
    </div>
    <div class="center_title_bar">Phụ kiện</div>
    <div class="prod_box">
        <div class="center_prod_box">
            <div class="product_title"><a href="#">Bộ 3 MarkBook</a></div>
        <div class="product_img"><a href="#"><img src="~/images/phukien1.jpg" width="60" height="70" alt="" border="0" /></a></div>
            <div class="prod_price"><span class="reduce">20$</span> <span class="price">15$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="#" class="prod_buy">Add to Cart</a> <a href="#" class="prod_details">Details</a> </div>
    </div>
    <div class="prod_box">
        <div class="center_prod_box">
        <div class="product_title"><a href="#">MarkBook 1 tay</a></div>
        <div class="product_img"><a href="#"><img src="~/images/phukien2.jpg" width="60" height="70" alt="" border="0" /></a></div>
            <div class="prod_price"><span class="reduce">10$</span> <span class="price">5$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="#" class="prod_buy">Add to Cart</a> <a href="#" class="prod_details">Details</a> </div>
    </div>
    <div class="prod_box">
        <div class="center_prod_box">
            <div class="product_title"><a href="#">Bộ Sticker</a></div>
        <div class="product_img"><a href="#"><img src="~/images/phụkien3.jpg" width="60" height="70" alt="" border="0" /></a></div>
            <div class="prod_price"><span class="reduce">10$</span> <span class="price">5$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="#" class="prod_buy">Add to Cart</a> <a href="#" class="prod_details">Details</a> </div>
    </div>
