
@{
    ViewData["Title"] = "Đăng Nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Đăng Nhập</h1>

<div class="colm-form">
    <div class="form-container">
        <input type="text" placeholder="Email address or phone number">
        <input type="password" placeholder="Password">
        <button class="btn-login">Login</button>
        <a href="#">Forgotten password?</a>
        <button class="btn-new">Create new Account</button>
    </div>
</div>

