<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"] - AppView</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
	<link href="~/css/style.css" rel="stylesheet" />
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="iecss.css" />
    <![endif]-->
	<script src="~/js/boxover.js"></script>
</head>
<body>
    <div id="main_container">
        <div id="header">
            <div class="top_right">
                <div class="languages">
                    <div class="lang_text">Languages:</div>
                    <a href="#" class="lang"><img src="~/images/en.gif" alt="" border="0" /></a> <a href="#" class="lang"><img src="~/images/de.gif" alt="" border="0" /></a>
                </div>
                @*<div class="big_banner"> <a href="#"><img src="~/images/header_bg.jpg" alt="" border="0" /></a> </div>
            </div>*@
            <div id="logo"> <a href="#"><img src="~/images/logo.png" alt="" border="0" width="182" height="85" /></a> </div>
        </div>
        <div id="main_content">
            <div id="menu_tab">
                <ul class="menu">
                    <li><a href="#" class="nav"> Trang Chủ </a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="nav">Sản Phẩm</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="nav">Tài Khoản</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="nav">Đăng nhập</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="nav">Shipping </a></li>
                    <li class="divider"></li>
                    <li><a href="contact.html" class="nav">Liên Hệ</a></li>
                    <li class="divider"></li>
                    <li><a asp-controller="SanPhamCT" asp-action="ShowAllSp" class="nav">Details</a></li>
                </ul>
            </div>
            <!-- end of menu tab -->
            @*<div class="crumb_navigation"> Navigation: <span class="current">Home</span> </div>*@
            <div class="left_content">
                <div class="title_box">Tác Giả</div>
                <ul class="left_menu">
                    <li class="odd"><a href="#">Nguyễn Nhật Ánh</a></li>
                    <li class="even"><a href="#">Trang Hạ</a></li>
                    <li class="odd"><a href="#">Nguyễn Phong Việt</a></li>
                    <li class="even"><a href="#">Anh Khang</a></li>
                    <li class="odd"><a href="#">Nguyễn Ngọc Thạch</a></li>
                    <li class="even"><a href="#">Hamlet Trương</a></li>
                </ul>
                <div class="title_box">ĐẶC BIỆT</div>
                <div class="border_box">
                    <div class="product_title"><a href="#">Đắc nhân tâm</a></div>
                    <div class="product_img"><a href="#"><img src="~/images/sach1.jpg" width="140" height="150" alt="" border="0" /></a></div>
                    <div class="prod_price"><span class="reduce">70$</span> <span class="price">40$</span></div>
                </div>
                <div class="title_box">Bản tin</div>
                <div class="border_box">
                    <input type="text" name="newsletter" class="newsletter_input" value="your email" />
                    <a href="#" class="join">subscribe</a>
                </div>
                <div class="banner_adds"> <a href="#"><img src="~/images/sach5.jpg" alt="" width="170" height="170" border="0" /></a> </div>
            </div>
            <!-- end of left content -->
            <div class="center_content">
                @RenderBody()
            </div>

            <!-- end of center content -->
            <div class="right_content">
                <div class="title_box">Search</div>
                <div class="border_box">
                    <input type="text" name="newsletter" class="newsletter_input" value="keyword" />
                    <a href="#" class="join">search</a>
                </div>
                <div class="shopping_cart">
                    <div class="title_box">Giỏ hàng</div>
                    <div class="cart_details">
                        3 items <br />
                        <span class="border_cart"></span> Total: <span class="price">350$</span>
                    </div>
                    <div class="cart_icon"><a href="#"><img src="~/images/shoppingcart.png" alt="" width="35" height="35" border="0" /></a></div>
                </div>
                <div class="title_box">Hàng mới</div>
                <div class="border_box">
                    <div class="product_title"><a href="#">The One Think</a></div>
                    <div class="product_img"><a href="#"><img src="~/images/Sach2.gif" alt="" width="120" height="150" border="0" /></a></div>
                    <div class="prod_price"><span class="reduce">50$</span> <span class="price">30$</span></div>
                </div>
                <div class="title_box">Nhà Xuất Bản</div>
                <ul class="left_menu">
                    <li class="odd"><a href="#">Nhà xuất bản Trẻ</a></li>
                    <li class="even"><a href="#">Nhà xuất bản Kim Đồng</a></li>
                    <li class="odd"><a href="#">Nhà xuất bản Phụ nữ</a></li>
                    <li class="even"><a href="#">Nhà xuất bản Lao Động</a></li>
                    <li class="odd"><a href="#">Nhà xuất bản tư nhân Nhã Nam</a></li>
                    <li class="even"><a href="#">Nhà xuất bản Hội Nhà văn Việt</a></li>
                </ul>
                <div class="banner_adds"> <a href="#"><img src="~/images/sach4.jpg" alt="" border="0" width="110" height="180" /></a> </div>
            </div>
            <!-- end of right content -->
        </div>
        <!-- end of main content -->
        <div class="footer">
            <div class="left_footer"> <img src="~/images/footer_logo.png" alt="" width="89" height="42" /> </div>
            <div class="center_footer">
                Template name. All Rights Reserved 2008<br />
                <a href="http://csscreme.com"><img src="~/images/csscreme.jpg" alt="csscreme" title="csscreme" border="0" /></a><br />
                <img src="~/images/payment.gif" alt="" />
            </div>
            <div class="right_footer"> <a href="#">home</a> <a href="#">about</a> <a href="#">sitemap</a> <a href="#">rss</a> <a href="#">contact us</a> </div>
        </div>
    </div>
    <!-- end of main_container -->
</body>
</html>
